h1 {
    width: 200px;
    display: inline-block;
}

#red {
    background-color: #FF0000;
    width: 200px;
    height: 150px;
    display: inline-block;
}

#blue {
    background-color: #0000FF;
    width: 200px;
    height: 150px;
    display: inline-block;
}