<!DOCTYPE html>
<html lang="en" ng-app="uglyThings">

<head>
    <meta charset="UTF-8">
    <title>Ugly Things</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    
    <div ng-controller="MainController">
        <div id="in" class="col-md-12" >
            <input id="inTitle" ng-model="uglers.title">Title</input>
            <input id="inURL" ng-model="uglers.url">Img URL</input>
            <input id="inDesc" ng-model="uglers.desc">Description</input>
            <button id="inSub" ng-click="addImg()">Submit</button>
        </div>
          
           <div class="well" id="imgSub" ng-repeat="img in uglers">
               <p>{{ img.title }}</p>
               <p>{{ img.url }}</p>
               <p>{{ img.desc }}</p>
           </div>

        
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="main.js"></script>
</body>

</html>